# <center> <h1>Welcome to Intro to Data Analytics</h1> </center>

![data analytics](https://ofdataanalytics.com/wp-content/uploads/2019/08/Screenshot-2019-08-22-at-22.15.17.png)

## Table of Contents

1. What is Data Analytics, what is a data analyst, and what does the Data Analytics Cycle?
2. Coming up with an idea or project
3. Jupyter Lab/Notebook and Python
4. Getting the data we'll need
5. Preparing the data for analysis
6. Analysing and visualising data
7. Next steps

## 1. What is Data Analytics, what is a data analyst, and what does the Data Analytics Cycle?

![data analytics](https://i2.wp.com/www.upbuild.io/wp-content/uploads/2018/07/upbuild-what-are-your-analytics-telling-you.png?w=1364&ssl=1)
- __Data Analytics__

Data analytics is a process for uncovering insights from data. Data can be found in a structured or unstructured format, qualitative or quantitative, be time-dependent or -independent, and also be highly-dimensional or with only a few dimensions.

You can also think of data analytics as the process for finding answers to questions or the interrogation of facts.
    
![detective](https://media.giphy.com/media/NS7gPxeumewkWDOIxi/giphy.gif)
- __Data Analyst__

A data analyst can be thought of as a detective. Detectives look at the evidence of a case, analyse it and ask many (many) questions throughout the process, make up inferences based on the evidence, and the narrow everything down to a set of conclusions when everything is said and done. This is, in a way, the same process a data analyst undertakes for a project. To understand this better, let's look at the Data Analytics Cycle.

- __Data Analytics Cycle__

The data analytics cycle is an iterative process that data analysts go through in their day-to-day activities. This may vary depending on the type of company and responsabilities of the analyst, but for the most part, we can look at the cycle (from a high level) in the following way.

1. Define the problem or question that interest you or needs to be solveds
2. What can of data will we need to solve this and where do we get it from?
3. Cleaning or structuring the data in a way that is suitable for analysis (very often, this may be the most time-consuming stage of the cycle)
4. Exploratory Data Analysis and Visualisation
5. Hypothesis testing or inference stage - making predictions
6. Reporting our findings
7. Presenting our findings and collecting feedback

## 2. Coming up with an idea or project

Let's first come up with a good scenario for our data analytics project. After all, we can't just get down to analysing data without having at least a bit of context as to what we would like to do with the data and what are we hoping to find.

#### I. The Scenario

Say you have always exercised at least 5 days a week, or that since last year, as your New Year's resolution, you chose to exercise for at least 5 days a week throughout the entire year. This being a completely novel endeavor for you, something no one else picks during New Year's (ðŸ˜Ž), you decide it would good to also track your progress throughout your journey, so you get a smart watch to aid you in this regard.

You start noticing how most of the apps you use and websites you visit all gather a lot of data about you. Netflix captures your taste of movie for any given day and time. Facebook know which kinds of posts you like the most, and has a good sense regarding your political inclinations based on the things you post. Amazon always seems to know what to recommend you to buy (and crap, it seems to work). Now you start getting curious about all of the data your smartwatch might have about you so you decide that it is time to take control of your own data before others analyse it for you.

- __Me on Week 1__

![week1](https://media.giphy.com/media/13Lwn87rxZSUVi/giphy.gif)

#### II. The Task

Now that we have a decided to do something with our data, let's put this into a general list of tasks we'd like to take on.

1. Get the data out of wherever our smartwatch is keeping it at.
2. Prepare it for analysis.
3. Analyse it.
4. Think of questions/hypotheses you might want test.
5. Write down your findings.
6. Improve your analysis by collecting some feedback and
7. prepare your code for future use.

- __Me around Valentine's Day__

![Exercise](https://media.giphy.com/media/mb8QpqfFX4CtO/giphy.gif)

## 3. Jupyter Lab/Notebook and Python

## Jupyter

JupyterLab is an [Integrated Development Environment](https://en.wikipedia.org/wiki/Integrated_development_environment) created by the [Jupyter Project](https://jupyter.org/). It allows you to combine different tools that are paramount for a good coding workflow. For example, you can have the terminal, a Jupyter notebook, and a markdown file for note-taking/documenting your work, as well as others, opened at the same time to improve your workflow as you write code (see image below).

![jupyterlab](https://jupyterlab.readthedocs.io/en/latest/_images/interface_jupyterlab.png)
**Source** - [https://jupyterlab.readthedocs.io](https://jupyterlab.readthedocs.io)

To run code you will use the following two commands:

> # Shift + Enter

and

> # Alt + Enter  

The first will run the cell and take you to the next one. If there is no cell underneath the one you just ran, it will insert a new one for you. The second one will run the cell and insert a new one below automatically. Alternatively, you can also run the cells using the play (â–¶ï¸Ž) button at the top or with the _Run menu_ on the top left-hand corner.

Anything that follows a hash `#` sign is a comment and will not be evaluated by Python. They are useful for documenting your code and letting others know what is happening with every line of code or with every cell.

To check the information of a package, function, method, etc., use `?` or `??` at the begining or end of such element, and it will provide you with a lot of information about it.

## Python

Python is a general-purpose programming language that allows us to create programs, analyse data, create websites, create applications, and many other cool things. It is free and open-source, which means that anyone can contribute to its development and help make this language an even better one. This latter fact, along with the great readability of the language, are (to your host) two of the major contributing factors of Python's popularity.

Python can be thought of as a person, we are very cool the way we are but to interact more efficiently we make use of "add-ons", and thus, so does Python. These add-ons may be clothes, shoes, accessories, slang words, and other physical objects such as cars, houses, boats, etc. In Python, our add-ons become additional programs other people have created in order to make a specific workflow easier.

### Some Key Concepts in Python We'll Need 4 Today

**Data Types**

1. Strings --> Text or written data. e.g. "this is a string"
2. Integers --> numbers without decimal places. e.g. 1, 2, 3, 4, 5, 6
3. Floats --> numbers with decimal places. e.g. 3.5, 2.06, 7.9, 4.1
4. Dates --> time-related object. e.g. 19-March-2020 18:00, 20-March-2020 12:30
5. Boolean --> logical value that can be `True` or `False` and 1 or 0, respectively

**Data Structures**
1. Dataframe --> spreadshee-like object (literally), with rows and columns
2. Series or Array --> a row or column in a spreadsheet, or a combination of the two

## Let's Work Through Some Examples Together

### Example 1

Type your name inside quotation marks in the cell below and press `Shift + Enter`.

### Example 2

- Type in the cell below the word `name` not inside quotation marks
- Put the `=` sign right next to it
- Type your name inside quotation marks to the right of the `=` sign
- Press `Shift + Enter`

### Example 3

- Subtract five from ten in the cell below
- Press `Shift + Enter`

### Example 4

- Add nine to five in the cell below
- Press `Shift + Enter`

## 4. Getting the data we'll need

![get data](https://media.giphy.com/media/8qrrHSsrK9xpknGVNF/giphy.gif)

Now that we have our task defined, we can move on to gathering the data we will need for our project. In my case, I have a Garmin watch and I went through the following steps to extract a comma separated values file from it.

- Go to Garmin [__Garmin Connect__](https://connect.garmin.com/signin)
- Sign in with your username and password
- Go to the activities section and click on All Activities
- Exporting the data gets a bit tricky here because Garmin will only export items that have already loaded, so in order to get all of your data, scroll all the way down to the very end of all of your activities.
- Once you reach the last one, click on the Export CSV button at the top right hand corner. You will see a Activities.csv file in your downloads folder.
**NOTE:** Garmin tracks much more data than what you will download from Garmin Connect but the format is not as user-friendly as what you would get using these steps.

Depending on which smartwatch or smartphone you have, there will be different ways to access your data.

In order to use data in Python, we first need a couple of things to help us read it into memory. Just like humans have tools to build houses, skycrapers, airplanes, and more, Python has tools for data analytics that can enhance our productivity in extraordinary ways. The python packages `pandas`, `numpy`, `matplotlib`, and `seaborn` are some of the tools that will make our work much easier today as we put on our detective hats on.

Let's begin by loading these for packages first. To do this we will need to use the `import` command which tells Python that we want to bring in an object from our storage into our environment (a.k.a. this notebook we are working on ðŸ¤“).

In [1]:
# Import your packages below
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import datetime
import altair as alt
pd.set_option('display.max_columns', None)

%matplotlib inline

Another thing you will notice is that as we imported our packages into our environment, we also used an alias so that we don't have to use the full name of the package every time we need to use each one of them.

The next step we need to take is to load our dataset into memory. You will find a dataset readily available in the following link

> https://raw.githubusercontent.com/ramonprz01/codevelop-march-2020/master/data/activities_data.csv

To get the data we will use a method called `.read_csv()` from our padas library and assign it to a variable. A variable is like a bucket or a net, it can hold on to an object for us and allow us to do things with it and to it. You can also think of variables as the name of a column in a spreadsheet.

In [2]:
# The word df is our variable
# The alias pd allows us to use the pandas library
# The .read_csv() helps us read in the data

df = pd.read_csv("https://raw.githubusercontent.com/ramonprz01/codevelop-march-2020/master/data/activities_data.csv")

The next thing we want to do after loading our data is to make sure it was loaded into memory in the right way. We can do this by calling the method `.head()` on our pandas dataframe.

In [3]:
df.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Avg Vertical Ratio,Avg Vertical Oscillation,Training Stress ScoreÂ®,Grit,Flow,Climb Time,Bottom Time,Min Temp,Surface Interval,Decompression,Best Lap Time,Number of Runs,Max Temp
0,Running,2020-03-15 18:36:50,False,Sydney Running,2.38,317,00:19:31,155,182,3.4,166,183,8:13,6:48,141,174,1.18,0.0,0.0,0.0,0.0,0.0,0:00,0:00,68.0,0:00,No,03:02.70,3,0.0
1,Running,2020-03-11 18:26:18,False,Sydney Running,4.09,550,00:33:29,158,171,4.0,166,181,8:11,6:48,226,256,1.18,0.0,0.0,0.0,0.0,0.0,0:00,0:00,71.6,0:00,No,00:53.73,5,0.0
2,Running,2020-03-08 17:48:07,False,Sydney Running,2.82,336,00:21:16,150,168,3.3,167,195,7:32,5:44,128,190,1.28,0.0,0.0,0.0,0.0,0.0,0:00,0:00,71.6,0:00,No,06:12.32,3,0.0
3,Running,2020-03-04 18:41:53,False,Sydney Running,1.00,117,00:08:24.7,136,148,2.0,160,175,8:24,7:37,39,62,1.19,0.0,0.0,0.0,0.0,0.0,0:00,0:00,77.0,0:00,No,00:00.46,2,0.0
4,Running,2020-02-29 15:55:38,False,Sydney Running,2.80,347,00:22:17,150,170,3.4,166,213,7:58,6:38,135,187,1.22,0.0,0.0,0.0,0.0,0.0,0:00,0:00,80.6,0:00,No,06:13.66,3,0.0

#### __Exercise prompt__ - Now you use the method `.tail()` on your data to see the first 5 rows of the dataset.

One other thing we can do to inspect our dataset and make sure it was imported successfully is to look at the shape of it.

In [5]:
df.shape

(454, 30)

In [6]:
# Let's first have a look at our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Type             454 non-null    object
 1   Date                      454 non-null    object
 2   Favorite                  454 non-null    bool
 3   Title                     454 non-null    object
 4   Distance                  454 non-null    float64
 5   Calories                  454 non-null    object
 6   Time                      454 non-null    object
 7   Avg HR                    454 non-null    int64
 8   Max HR                    454 non-null    int64
 9   Aerobic TE                454 non-null    object
 10  Avg Run Cadence           454 non-null    object
 11  Max Run Cadence           454 non-null    object
 12  Avg Pace                  454 non-null    object
 13  Best Pace                 454 non-null    object
 14  Elev Gain                 454 non-null    object
 15  Elev Loss                 454 non-null    object
 16  Avg Stride Length         454 non-null    float64
 17  Avg Vertical Ratio        454 non-null    float64
 18  Avg Vertical Oscillation  454 non-null    float64
 19  Training Stress ScoreÂ®    454 non-null    float64
 20  Grit                      454 non-null    float64
 21  Flow                      454 non-null    float64
 22  Climb Time                454 non-null    object
 23  Bottom Time               454 non-null    object
 24  Min Temp                  454 non-null    float64
 25  Surface Interval          454 non-null    object
 26  Decompression             454 non-null    object
 27  Best Lap Time             454 non-null    object
 28  Number of Runs            454 non-null    object
 29  Max Temp                  454 non-null    float64
dtypes: bool(1), float64(9), int64(2), object(18)
memory usage: 103.4+ KB

In [7]:
df.describe()

,Distance,Avg HR,Max HR,Avg Stride Length,Avg Vertical Ratio,Avg Vertical Oscillation,Training Stress ScoreÂ®,Grit,Flow,Min Temp,Max Temp
count,454.000000,454.000000,454.000000,454.000000,454.0,454.0,454.0,454.0,454.0,454.000000,454.0
mean,1.549229,126.618943,146.788546,0.696938,0.0,0.0,0.0,0.0,0.0,78.240969,0.0
std,1.100382,22.570717,21.611751,0.570507,0.0,0.0,0.0,0.0,0.0,5.903790,0.0
min,0.000000,70.000000,82.000000,0.000000,0.0,0.0,0.0,0.0,0.0,55.400000,0.0
25%,0.830000,105.250000,129.000000,0.000000,0.0,0.0,0.0,0.0,0.0,75.200000,0.0
50%,1.030000,134.000000,151.000000,1.060000,0.0,0.0,0.0,0.0,0.0,77.000000,0.0
75%,2.050000,146.000000,164.000000,1.170000,0.0,0.0,0.0,0.0,0.0,82.400000,0.0
max,4.690000,164.000000,190.000000,2.030000,0.0,0.0,0.0,0.0,0.0,96.800000,0.0

### 5. Data Cleaning / Preparation for analysis

#### 5.1 Make your columns work for you

Let's start by having a look at the columns of our dataframe. We can accomplish this by calling the attribute `.columns` on our dataframe.

In [8]:
df.columns

Index(['Activity Type', 'Date', 'Favorite', 'Title', 'Distance', 'Calories',
       'Time', 'Avg HR', 'Max HR', 'Aerobic TE', 'Avg Run Cadence',
       'Max Run Cadence', 'Avg Pace', 'Best Pace', 'Elev Gain', 'Elev Loss',
       'Avg Stride Length', 'Avg Vertical Ratio', 'Avg Vertical Oscillation',
       'Training Stress ScoreÂ®', 'Grit', 'Flow', 'Climb Time', 'Bottom Time',
       'Min Temp', 'Surface Interval', 'Decompression', 'Best Lap Time',
       'Number of Runs', 'Max Temp'],
      dtype='object')

The name of the variables in any dataset can often come with spaces and some uppercase letters that might make it harder to interact with them individually. I find it useful to convert these to lower case and substitute the space with an underscore, so let's do that next.

To access an array that comes from a dataframe and has strings in it, we need to tell python that we are accessing strings with the `.str` attribute, and the use a the method `.replace()` with the first argument beign what we want to replace and the second what we want to replace it with. In our case, we want to replace the space `' '` with and underscore `'_'`.

__NOTE__: notice the subtle differences between attributes and methods of an object, the former does not need `()` at the end as it does't need any arguments, and latter does require a set of `()` as it does require arguments.

In [9]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

Let's examine our columns to make sure we changed all of our variable names.

In [10]:
df.columns

Index(['activity_type', 'date', 'favorite', 'title', 'distance', 'calories',
       'time', 'avg_hr', 'max_hr', 'aerobic_te', 'avg_run_cadence',
       'max_run_cadence', 'avg_pace', 'best_pace', 'elev_gain', 'elev_loss',
       'avg_stride_length', 'avg_vertical_ratio', 'avg_vertical_oscillation',
       'training_stress_scoreÂ®', 'grit', 'flow', 'climb_time', 'bottom_time',
       'min_temp', 'surface_interval', 'decompression', 'best_lap_time',
       'number_of_runs', 'max_temp'],
      dtype='object')

#### 5.2 Clean your data

If you noticed earlier when you used the `.tail()` method on your dataframe, we have values that are not useful for any type of calcualtion. These are `"--"` and we should change them to the more conventional `np.nan` values, which is consider "Not a Number."

In [11]:
df.replace('--', np.nan, inplace=True)

In [12]:
df.tail()

,activity_type,date,favorite,title,distance,calories,time,avg_hr,max_hr,aerobic_te,avg_run_cadence,max_run_cadence,avg_pace,best_pace,elev_gain,elev_loss,avg_stride_length,avg_vertical_ratio,avg_vertical_oscillation,training_stress_scoreÂ®,grit,flow,climb_time,bottom_time,min_temp,surface_interval,decompression,best_lap_time,number_of_runs,max_temp
449,Running,2017-10-06 11:04:11,False,Kansas City Running,4.44,608,00:44:14,141,162,3.5,157,169,9:58,7:58,144,138,1.03,0.0,0.0,0.0,0.0,0.0,0:00,0:00,80.6,0:00,No,00:00.00,NaN,0.0
450,Strength Training,2017-09-25 19:30:13,False,Strength,0.00,80,00:15:46,88,107,0.2,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,0.0,0.0,0.0,0:00,0:00,73.4,0:00,No,00:00.00,NaN,0.0
451,Running,2017-09-21 12:16:19,False,Kansas City Running,4.25,565,00:37:26,149,182,3.9,165,180,8:48,7:19,108,121,1.11,0.0,0.0,0.0,0.0,0.0,0:00,0:00,86.0,0:00,No,00:00.00,NaN,0.0
452,Running,2017-09-19 18:45:46,False,Kansas City Running,4.32,553,00:36:57,148,170,4.2,165,177,8:33,7:16,98,141,1.14,0.0,0.0,0.0,0.0,0.0,0:00,0:00,82.4,0:00,No,00:00.00,NaN,0.0
453,Running,2017-09-16 15:17:18,False,Kansas City Running,3.02,404,00:24:56,156,187,3.8,161,200,8:15,4:57,59,98,1.21,0.0,0.0,0.0,0.0,0.0,0:00,0:00,84.2,0:00,No,00:00.00,NaN,0.0

#### 5.3 Get rid of variables that you won't be using

In [13]:
df.drop(['avg_vertical_ratio', 'avg_vertical_oscillation',
         'training_stress_scoreÂ®', 'grit', 'flow', 'favorite',
         'bottom_time', 'surface_interval', 'best_lap_time', 
         'max_temp', 'decompression'], axis=1, inplace=True)

In [14]:
df.shape

(454, 19)

Make sure your date variable is of date type and not a string.

In [15]:
type(df['time'].iloc[1])

str

In [16]:
df['date'] = pd.to_datetime(df['date'])
df['date'].dt.year.value_counts()

2018    224
2019    198
2020     20
2017     12
Name: date, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   activity_type      454 non-null    object
 1   date               454 non-null    datetime64[ns]
 2   title              454 non-null    object
 3   distance           454 non-null    float64
 4   calories           453 non-null    object
 5   time               454 non-null    object
 6   avg_hr             454 non-null    int64
 7   max_hr             454 non-null    int64
 8   aerobic_te         453 non-null    object
 9   avg_run_cadence    287 non-null    object
 10  max_run_cadence    287 non-null    object
 11  avg_pace           438 non-null    object
 12  best_pace          438 non-null    object
 13  elev_gain          284 non-null    object
 14  elev_loss          278 non-null    object
 15  avg_stride_length  454 non-null    float64
 16  climb_time         454 non-null    object
 17  min_temp           454 non-null    float64
 18  number_of_runs     449 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(2), object(13)
memory usage: 67.5+ KB

In [18]:
df['calories'] = pd.to_numeric(df['calories'])
df['aerobic_te'] = pd.to_numeric(df['aerobic_te'])
df['avg_run_cadence'] = pd.to_numeric(df['avg_run_cadence'])
df['max_run_cadence'] = pd.to_numeric(df['max_run_cadence'])
df['number_of_runs'] = pd.to_numeric(df['number_of_runs'])

In [19]:
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['week'] = df['date'].dt.week
df['weekday'] = df['date'].dt.weekday
df['quarter'] = df['date'].dt.quarter
df['time_exercise'] = df['date'].dt.time
df['date_exercise'] = df['date'].dt.date
df['day_of_week'] = df['date'].dt.day_name()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
df.head()

,activity_type,date,title,distance,calories,time,avg_hr,max_hr,aerobic_te,avg_run_cadence,max_run_cadence,avg_pace,best_pace,elev_gain,elev_loss,avg_stride_length,climb_time,min_temp,number_of_runs,month,year,week,weekday,quarter,time_exercise,date_exercise,day_of_week
0,Running,2020-03-15 18:36:50,Sydney Running,2.38,317.0,00:19:31,155,182,3.4,166.0,183.0,8:13,6:48,141,174,1.18,0:00,68.0,3.0,3,2020,11,6,1,18:36:50,2020-03-15,Sunday
1,Running,2020-03-11 18:26:18,Sydney Running,4.09,550.0,00:33:29,158,171,4.0,166.0,181.0,8:11,6:48,226,256,1.18,0:00,71.6,5.0,3,2020,11,2,1,18:26:18,2020-03-11,Wednesday
2,Running,2020-03-08 17:48:07,Sydney Running,2.82,336.0,00:21:16,150,168,3.3,167.0,195.0,7:32,5:44,128,190,1.28,0:00,71.6,3.0,3,2020,10,6,1,17:48:07,2020-03-08,Sunday
3,Running,2020-03-04 18:41:53,Sydney Running,1.00,117.0,00:08:24.7,136,148,2.0,160.0,175.0,8:24,7:37,39,62,1.19,0:00,77.0,2.0,3,2020,10,2,1,18:41:53,2020-03-04,Wednesday
4,Running,2020-02-29 15:55:38,Sydney Running,2.80,347.0,00:22:17,150,170,3.4,166.0,213.0,7:58,6:38,135,187,1.22,0:00,80.6,3.0,2,2020,9,5,1,15:55:38,2020-02-29,Saturday

In [21]:
time_of_day = []

for i in df['time_exercise']:
    if i > datetime.time(5, 59, 59) and i < datetime.time(12, 0, 0):
        time_of_day.append('morning')
    elif i > datetime.time(11, 59, 59) and i < datetime.time(18, 0, 0):
        time_of_day.append('afternoon')
    else:
        time_of_day.append('night')

In [22]:
time_of_day[-5:]

['morning', 'night', 'afternoon', 'night', 'afternoon']

In [23]:
df['time_day'] = time_of_day

In [24]:
week_or_end = []

for day in df['weekday']:
    if day >= 5:
        week_or_end.append('weekend')
    else:
        week_or_end.append('week_day')

week_or_end[:5]

['weekend', 'week_day', 'weekend', 'week_day', 'weekend']

In [25]:
df['week_or_end'] = week_or_end

In [26]:
df.head()

,activity_type,date,title,distance,calories,time,avg_hr,max_hr,aerobic_te,avg_run_cadence,max_run_cadence,avg_pace,best_pace,elev_gain,elev_loss,avg_stride_length,climb_time,min_temp,number_of_runs,month,year,week,weekday,quarter,time_exercise,date_exercise,day_of_week,time_day,week_or_end
0,Running,2020-03-15 18:36:50,Sydney Running,2.38,317.0,00:19:31,155,182,3.4,166.0,183.0,8:13,6:48,141,174,1.18,0:00,68.0,3.0,3,2020,11,6,1,18:36:50,2020-03-15,Sunday,night,weekend
1,Running,2020-03-11 18:26:18,Sydney Running,4.09,550.0,00:33:29,158,171,4.0,166.0,181.0,8:11,6:48,226,256,1.18,0:00,71.6,5.0,3,2020,11,2,1,18:26:18,2020-03-11,Wednesday,night,week_day
2,Running,2020-03-08 17:48:07,Sydney Running,2.82,336.0,00:21:16,150,168,3.3,167.0,195.0,7:32,5:44,128,190,1.28,0:00,71.6,3.0,3,2020,10,6,1,17:48:07,2020-03-08,Sunday,afternoon,weekend
3,Running,2020-03-04 18:41:53,Sydney Running,1.00,117.0,00:08:24.7,136,148,2.0,160.0,175.0,8:24,7:37,39,62,1.19,0:00,77.0,2.0,3,2020,10,2,1,18:41:53,2020-03-04,Wednesday,night,week_day
4,Running,2020-02-29 15:55:38,Sydney Running,2.80,347.0,00:22:17,150,170,3.4,166.0,213.0,7:58,6:38,135,187,1.22,0:00,80.6,3.0,2,2020,9,5,1,15:55:38,2020-02-29,Saturday,afternoon,weekend

## 6. Analysing and Visualising Data

### 6.1. Introduction to Data Visualization

Data visualisation, more than being part art and part science, is one of the key components of the data analytics cycle. People have different learning styles and to be able to convey information in a more accessible way, sometimes it is better to do so through visualisations rather than tables and written text. So..

### What is DataViz?

> "Data visualization is the graphical representation of information and data. By using visual elements like charts, graphs, and maps, data visualization tools provide an accessible way to see and understand trends, outliers, and patterns in data." ~ [Tableau](https://www.tableau.com/learn/articles/data-visualization)

Data Visualization as a field of study has been on the rise for over many decades now --if not centuries-- and it is an exciting area to be a part of. Organisations such as the [Data Visualization Society](https://www.datavisualizationsociety.com/), FreeCodeCamp, and others, have extensive information on how to go beyond simple data visualisation, should that be something that interests you. If you would like to read more about data visualisation and what you can do with it, check out this [medium site](https://medium.com/nightingale).

Python has a wide variety of visualisation tools available for static and interactive, quantitative and qualitative, time series and geographic data visualisation, and some of the most-widely used libraries for these purposes, to date, are the following ones:

- [matplotlib](https://matplotlib.org/) --> highly customisable and long-term contender in the dataviz arena
- [seaborn](https://seaborn.pydata.org/) --> beautiful data visualisation library that is easy to use and fast
- [bokeh](https://bokeh.org/) --> great (and beautiful) tool for interactive data visualisation
- [plotly](https://plotly.com/) --> bokeh's top contender
- [altair](https://altair-viz.github.io/) --> beautiful data visualisation library based on the grammar of graphics philosophy
- [plotnine](https://plotnine.readthedocs.io/en/stable/) --> data visualisation library based on R's ggplot2

## 6.2 Quantitative vs Qualitative

When we get to the data visualisation stage of the data analytics cycle, we should always keep in mind the nature of the data we would like to visualise. If we want to see relationships (correlations between variables) we might only choose quantitative variables for our visualisations. If we want to show a specific theme in our dataset, e.g. gender differences, customer type, or potential customer, we might just opt for visualising frequencies in qualitative data. In contrast, if we want to show the relationship of variables given a specific group in our dataset (e.g. income differences by gender), we would choose a combination of qualitative and quantitative variables.

To give you a more concrete example, I have burrowed the following table from a book that I highly recommend if you want to really get started with data visualization, and that is, _"Fundamentals of data visualization: A primer on making informative and compelling figures"_ by Claus O. Wilke.

![data_var_types](images/var_types.png)

**Source:** Wilke, C. O. (2019). _Fundamentals of data visualization: A primer on making informative and compelling figures._ Sebastopol, CA: O'Reilly Media.

Now that we are aware of the subtle differences in data visualization, how do we know which visualisation to create with the data we have? The answer is that it will depend on the context of your task, and on how much information you would like to convey in your visualisation. As you decompose a task to choose the best course of action for your visualisation, keep the following diagram in mind from ActiveWizards.

## 6.3 Static vs Interactive Visualizations

An important aspect to keep in mind is when creating visualizations is whether we should represent our data in a static or interactive format. As analysts, we should always ask ourselves, will our message reach our audience better if they were able to interact with the visualisation? The reason behind this can be captured in a very famous quote by Benjamin Franklin.

> "Tell me and I forget. Teach me and I remember. Involve me and I learn." ~ Benjamin Franklin

If the goal of our visualisations is to teach something to our audience chances are that, allowing them to interact with our visualisation will do just that. Let's talk a bit more about static and interactive visualisations.

### 6.3.1 Static DataViz

Static data visualisations are those meant to show one or several facts about the data in a specific way. They help us convey a message and are often used closely with other narratives. For example, the New York Times is one of the most famouss new agencies in the world not just for the top content they manage to craete and provide to the masses, but also for the beautiful visualisations one can find in their large amounts of information.

Static visualisations are also often embedded in inforgraphics to carry a message even further. Think about the graphs that are displayed in broshures that tell us to buy a fragance or a particular type of cutlery alongside a statistic, some often say "75% of those who purchased these products have experienced...blah blah blah". Watch out for those :)

### 6.3.2 Interactive DataViz

Interactive data visualisations tell different stories while letting the users pick which one they would like to see or understand better as they evaluate the piece of work. These kinds of visualisations can be very powerful tools not only to convey messages to many people but also to provide top-notch educational content for others.

Involving your audience through interactive visualisations can be a much more involved process though. A static visualisation can be saved and shared with many in a matter of minutes. Interactive visualisations, on the other hand, might require a web application to work and be displayed, making it more difficult to show it to people on the go. Dashboards and other tools, while requiring a bit more work to be put together, can have a lot useful interactivity in them.

## 6.4 Do's

When creating data visualisations, it is important to keep in mind the following Do's.

- Label your axes where appropriate
- Add a title
- Use color appropriately. Showcase what you need, not every data point
- Use full axis and maintain consistency with different graphs shown in parallel
- Ask others for their opinion
- Pass the squint test (blurry viz)

## 6.5 Dont's


Just as there are many **Do's** in data visualisations, there are also many **DONT's**. Let go over a few of them together.

1. Don't use too much color  
<img src="https://clauswilke.com/dataviz/pitfalls_of_color_use_files/figure-html/popgrowth-US-rainbow-1.png" alt="bad pie" width="400"/>   

2. Don't use unmatching percentages  
<img src="http://livingqlikview.com/wp-content/uploads/2017/04/Worst-Data-Visualizations-02.jpg" alt="bad percentages" width="400"/>  

3. Don't try to put everything in one graph  
<img src="http://livingqlikview.com/wp-content/uploads/2017/04/Worst-Data-Visualizations-07.jpg" alt="bad pie" width="400"/>  

4. Trend lines need time not categories  
<img src="http://livingqlikview.com/wp-content/uploads/2017/04/Worst-Data-Visualizations-03.jpg" alt="bad lines" width="400"/>  

5. Don't make your chart data unreadible  
<img src="http://livingqlikview.com/wp-content/uploads/2017/04/Worst-Data-Visualizations-04.jpg" alt="bad text" width="400"/>  

6. Don't make no sense  
<img src="https://i.insider.com/51cb1c3e69bedd713300000e?width=1200" alt="bad sense" width="400"/>  

7. Don't deceive your audience with different intervals and axes  
<img src="https://i.insider.com/51cb25fa69beddcd4f000005?width=1200" alt="bad intervals" width="400"/>  

8. Axes betrayal  
<img src="https://i.insider.com/51cb2721eab8ea1d33000004?width=1200" alt="bad percentages" width="400"/>  


**Source 1:** taken from Fundamentals of Data Visualization by Claus O. Wilke. Data source is US Census Bureau  
**Source 2:** Figures 2, 3, 4, and 5 were taken from [QlikView](http://livingqlikview.com/the-9-worst-data-visualizations-ever-created/)  
**Source 3:** Figures 6, 7, and 8 were taken from [Business Insider](https://www.businessinsider.com.au/the-27-worst-charts-of-all-time-2013-6?r=US&IR=T#did-anyone-learn-anything-by-looking-at-this-pseudo-pie-chart-what-do-these-colors-even-mean-why-is-it-divided-into-quadrants-well-never-know-1)

# Interrogating the Data one Visualization at a Time

The first thing we want to do is to import into our session, some external packages available in the Python ecosystem.

In [51]:
import pandas as pd
import altair as alt
pd.set_option('display.max_columns', None)

We will then read in the data using the pandas package we imported above and assign it to a variable. You can thing of a variable as a column in Excel, a container, or a bucket, that will hold, and give a name to, whathever piece of information you are working with.

In [52]:
df = pd.read_csv('data/workouts_data.csv')

Now that we have loaded our data into memory, we can examine it by viewing a few rows of it using what is called a method. You can think of methods as the behavior of an object in Python. For example, the behavior of a stove is that it gets hot if we turn it on and it is cold if it is off. The behavior of our variable `df` when we apply the method `.head()` is that it returns a small view of our data for us.

In [53]:
df.head()

,activity_type,date,title,distance,calories,time,avg_hr,max_hr,aerobic_te,avg_run_cadence,max_run_cadence,avg_pace,best_pace,avg_stride_length,climb_time,temperature,number_of_laps,number_of_runs,month,year,week,weekday,quarter,time_exercise,date_exercise,day_of_week,time_day,week_or_end,cal_per_km,temp_buckets
0,Treadmill Running,2020-10-18 16:33:42,Treadmill Running,1.80,160.0,00:10:40,140,153,2.2,146.0,167.0,9:33,7:42,1.14,10:40,24.0,2.0,2.0,10,2020,42,6,4,16:33:42,2020-10-18,Sunday,afternoon,weekend,88.89,Hot (>23C)
1,Running,2020-10-17 17:26:12,Sydney Running,8.06,757.0,00:45:40,158,180,4.2,159.0,168.0,9:07,7:53,1.11,45:40,21.0,6.0,6.0,10,2020,42,5,4,17:26:12,2020-10-17,Saturday,afternoon,weekend,93.92,Normal (14-23C)
2,Elliptical,2020-10-16 18:02:39,Elliptical,0.00,213.0,00:19:43,117,149,2.0,95.0,150.0,NaN,NaN,0.00,19:43,26.0,1.0,1.0,10,2020,42,4,4,18:02:39,2020-10-16,Friday,night,week_day,0.00,Hot (>23C)
3,Treadmill Running,2020-10-15 18:20:50,Treadmill Running,3.22,249.0,00:15:39,148,162,2.7,150.0,183.0,7:50,7:03,1.15,15:39,24.0,2.0,2.0,10,2020,42,3,4,18:20:50,2020-10-15,Thursday,night,week_day,77.33,Hot (>23C)
4,Treadmill Running,2020-10-14 16:32:58,Treadmill Running,1.27,98.0,00:06:43.7,136,146,1.7,169.0,179.0,8:28,7:14,1.12,6:43.7,25.0,1.0,1.0,10,2020,42,2,4,16:32:58,2020-10-14,Wednesday,afternoon,week_day,77.17,Hot (>23C)

## Exercise

Try using the method `.tail()` with our variable `df` in the cell below.

### First Question

**Regardless of the year, what is the average amount of calories that I tend to burn per month?**

Things to keep in mind:
1. We need a measure of calories in a numerical format
2. We need a measure of time in terms of months

In [ ]:
# bare bones visual display

alt.Chart(df).mark_line().encode(
    x='month',
    y='calories'
)

In [ ]:
# agregation of one measure

alt.Chart(df).mark_line().encode(
    x='month',
    y='mean(calories)'
)

In [ ]:
# adding useful elements to our chart

alt.Chart(df).mark_line().encode(
    x='month',
    y='mean(calories)',
    tooltip='mean(calories)'
).properties(title="Average Calories Burned per Month")

### Answer

It seems that October is the month of the year where I burn the most amount of calories with 284.81 on average per day.

![hell_yeah](https://media.giphy.com/media/jErnybNlfE1lm/giphy.gif)

Let's untagle what just happened.

A chart is a layered representation of information where we need:
- **`data`** and,
- a way to **`represent`** the information we want to visualize from the data and, 
- a way to **`encode`** what we are interested in to the elements of the chart.

In other words:
- `alt` is the abbreviation of the name of the python package we are using to create the visualization and from it we can create a
- `Chart` object to which we get to pass our variable containing the data called `df`. To represent the data we want we use
- `mark_line()` which helps us visualize our data of interest as a line instead of a circle, square, and what not. We then
- `encode` the information we are interested in into
- `x` (the months) and
- `y` (the average amount of calories) coordinates. Lastly, our chart needs
- `properties` such as a title to convey the appropriate message.

## Example 2

**Are the kilometers I run corelated with the amount of calories I burn?**

Things to keep in mind:
- We need two quantitative measures.
- They don't necesarily need to be in the same scale (e.g. kilometers vs miles, farenheit to celcius) but sometimes that is helpful.
- We can plot to quantitative variables using points or circles. This type of visualization is called a scatter plot.

> _"A scatter plot is a type of plot or mathematical diagram using Cartesian coordinates to display values for typically two variables for a set of data. If the points are coded (color/shape/size), one additional variable can be displayed."_ ~ [Wikipedia](https://en.wikipedia.org/wiki/Scatter_plot)

In [ ]:
alt.Chart(df).mark_point().encode(
    x='distance',
    y='calories'
)

### Answer

They are are **indeed** positively correlated.

![indeed](https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs2.quickmeme.com%2Fimg%2F8f%2F8f1698edb1bc274a9111cb1fb38b72c4401828685a458f714f052f875dde16e5.jpg&f=1&nofb=1)

What is correlation anyways?

> "In statistics, correlation is the degree to which two or more attributes or measurements on the same group of elements show a tendency to vary together." ~ [Dictionary.com](https://www.dictionary.com/browse/correlation)

## Example 3

Can we explore the calories vs distance further? More specifically,

1. Can we zoom into the most productive workouts?
2. Can we split all workouts by the time of day in which they occured?

Things to keep in mind:
- To answer this questions we could take advantage of interactivity in our chart to change the story as we go, in addition
- We will need to split our quantitative variables by a categorical variable.
- If you recall from the table above, categorical variables can be Nominal (no order is implied) and Ordinal (order matters). For example, gender is a nominal variable (female, male, other), the temperature on food is ordinal (hot, mild, cold).

In [ ]:
# adding interactivity

alt.Chart(df).mark_point().encode(
    x='distance',
    y='calories'
).interactive()

In [ ]:
# adding interactivity and a categorical variable

alt.Chart(df).mark_point().encode(
    x='distance',
    y='calories',
    color='time_day'
).interactive()

In [ ]:
# adding interactivity, a categorical variable and tooltip

alt.Chart(df).mark_point().encode(
    x='distance',
    y='calories',
    color='time_day',
    tooltip=['calories', 'distance', 'activity_type', 'time_day']
).properties(
    title='Calories Burned vs Distance by Time of Day',

).interactive()

### Answer

By splitting the data by the categorical variable `time_of_day` we were able to separate the distance run by the time of the day in which it occured. This allowed us to figure out that the workouts in which the most calories were burned were in the afternoon, followed by the evening.

## Example 4

Let's make things a bit more interesting, what is the relationship between calories & distance and calories & temperature. Also, it would be great to see the temperature split by the buckets (e.g. hot, normal, hot).

Things to keep in mind:
- We can also concatenate chart that share and axis. In our case, we want two charts sharing the calories in the y axis.
- Out x axes will contain our two other quantitative variables.
- We will need to split our variables by a categorical variable again.

In [ ]:
interval = alt.selection_interval(zoom=True)

In [ ]:
colorscale = alt.Scale(domain=['Cold (<14C)', 'Normal (14-23C)', 'Hot (>23C)'],
                       range=['blue', 'orange', 'red'])

In [ ]:
chart1 = alt.Chart(df).mark_point().encode(
    x='distance',
    y='temperature',
    color=alt.condition(interval, 'temp_buckets', alt.value('lightgray'), scale=colorscale),
    tooltip=['activity_type', 'temperature']
).properties(
    selection=interval
)

In [ ]:
chart1 | chart1.encode(x='calories')

### Answer

A quick glanse at the data tells us that workouts tend to happen mostly during hot days with very few instances happening below 15 C. In addition, the longest distance run and the most amount of calories burned happened at 23C.

We can also see that the amount of workouts, and also their intensity, diminish significantly above 30C.

My favorite workout weathers be like ðŸ¥µ 

![hot](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2F24%2F9e%2Fc4%2F249ec4f0b9312b25eaf22551c3b1ba47--art-installations-installation-art.jpg&f=1&nofb=1)

## Example 5

What does the frequency of my workouts look like by the day of the week?

Things to keep in mind:
- We need a categorical variable with the days of the week.
- We need to count how many times they appear in out dataset.

In [ ]:
alt.Chart(df).mark_bar().encode(
    x='day_of_week',
    y='count()'
).properties(
    width=300,
    height=500,
    title="Frequency of Workouts by Day of The Week"
)

### Answer

It seems that most of my workouts take place on Thursdays and followed by Mondays.

You know what they say on Th(irst)days

![thirsday](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flaughtard.com%2Fwp-content%2Fuploads%2F2017%2F02%2Ff538f78cf2e7e59db9ba5242f5653539.jpg&f=1&nofb=1)

## Example 6

What happens to my average heart rate as I run further and further? Better yet, can I view this alongside the frequency of workouts between the different times of the day at which I worked out?

Things to keep in mind:
- We need a mix of variables in different charts, concatenated with each other
- We need to connect several filters together

In [ ]:
interval = alt.selection_interval(encodings=['x'], zoom=True)

chart = alt.Chart(df).mark_point().encode(
    x='distance',
    y='calories',
    color=alt.condition(interval, 'time_day', alt.value('lightgray')),
).properties(
    selection=interval
)

hist = alt.Chart(df).mark_bar().encode(
    x='count()',
    y='time_day',
    color='time_day'
).transform_filter(
    interval
)

chart & hist

### Answer

Nightly workouts only surpass the afternoon ones at a small interval of time. Morning workouts are definitely not a thing for me.

## Example 7

Where have I done the most, the least, and all in between, Ks during a workout.

Things to keep in mind:
- We need the distribution of a quantitative variable, split by the title of a workout.

In [ ]:
alt.Chart(df).mark_boxplot().encode(
    x=alt.X('title:N', axis=alt.Axis(labelAngle=-45)),
    y='distance:Q'
).properties(
    width=500,
    height=500,
    title="Distance Distribution of Workouts per Location and Type"
)

### Answer

Sydney is definitely pushing my limits, but KC and Santiago have kept me going the longest and farthest.

## Example 8

What does the distribution of my workouts look like when I split them by the quarter of the year in which each workout took place?

Things to keep in mind:
- We need the distribution of a quantitative variable, split by the quarter of the year in which the workout took place.

In [ ]:
alt.Chart(df).mark_bar().encode(
    x='calories:Q',
    y='activity_type',
    color='quarter:O'
)

### Answer

Most of what I do (or track for that matter) is running, whether outside or on a threadmill.

# 6 Next Steps

Here is a non-exhaustive list of things to keep in mind when creating visualisations with data. This list was created by Nicolas P. Rougier and it can be found in his article called, "_[Ten Simple Rules for Better Figures](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003833)_".

- Rule 1: Know Your Audience
- Rule 2: Identify Your Message
- Rule 3: Adapt the Figure to the Support Medium
- Rule 4: Captions Are Not Optional
- Rule 5: Do Not Trust the Defaults
- Rule 6: Use Color Effectively
- Rule 7: Do Not Mislead the Reader
- Rule 8: Avoid â€œChartjunkâ€
- Rule 10: Get the Right Tool

We have learned a lot in this lesson so let's summarise a few of the most important concepts.

- Data visualisation is great for exploring our datasets
- It allows us to see interesting patterns in the data that might not be visible upon first inspection
- Satatic graphs are great for telling a story from one angle
- Interactive visualisations are great for involving the audience with the message we are trying to convey as well as for ourselves to change the story as we please
- Python has excelent tools for visualisation and [Altair](https://altair-viz.github.io/index.html) is just one of them

To feed your curiosity.

### Python
- [holoviews](http://holoviews.org/index.html) --> similar to bokeh but easier to use
- [datashader](https://datashader.org/) --> great for massive datasets

### Favourite Visualisation Websites

- [FlowingData](flowingdata.com)
- [Information is Beautiful](https://www.informationisbeautifulawards.com/)
- [eagereyes](https://eagereyes.org/)

### How to...? Websites
- [Python Graph Gallery](https://python-graph-gallery.com/)
- [Drawing from Data](https://www.drawingfromdata.com)

### Data Visualisation Experts You Might Want to Know About
- [Jan Willem](http://tulpinteractive.com/)
- [Christian Laesser](https://christianlaesser.com/)
- [Andy Kirk](https://www.visualisingdata.com/)
- [Eduard Tufte](https://www.edwardtufte.com/tufte/)
- [Alberto Cairo](http://albertocairo.com/)


__For your next learning steps you could:__
- learn python programming fundamentals
- learn how to clean and wrangle data prior to analysing it
- take an in-depth data analytics course and make sure you work on your own custom analyses while doing so
- ask for feedback
- repeat

![gracias](https://media.giphy.com/media/JVXU0uN1l6wdq/giphy.gif)